body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F5F5F5;
}


.main{
  width: 1440px;
  margin: auto;
}

.main p{
  margin: 0;
}

.header{
  width:  1440px;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.header .sub-header{
  width: 1280px;
  margin-left: 5%;
  gap: 5px;
}

.main-content{
  width: 1440px;
  display: flex;
  /* padding-top: 50px; */
}

.main-content p{
  font-family: 'Inter';
  font-style: normal;
}

.sub-header p {
  font-weight: 700;
font-size: 19.2px;
}

.content-one{
  margin-top: 3px;
  width:720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background-color: #ffffff;

}

.content-two{
  margin-top: 3px;
  width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgb(223, 250, 255) -25%, rgb(255, 240, 246,1) 25%, rgb(223, 250, 255) 170%);

}


.first{
  min-width: 537px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.second{
  min-width: 552px;
}


.sub-header{
  display: flex;
  align-items: center;
}

.heading{
  display: flex;
}


.VA-removed{
  width: 396px;
  background: #FFFFFF;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
border-radius: 4px;
padding: 15px;
margin: auto;
/* border-bottom: 3px solid red; */
/* width: 10%; */
}

.bottom-line{
  border-bottom: 3px solid #FFC400;
  margin-top: -3px;
  width: 24%;
  margin-left: 13.2%;
  border-bottom-left-radius: 5px;
}


.summery{
  display: flex;
  justify-content: space-between;
}

.summery p {
  font-size: 14px;
}

.sub-total{
  display: flex;
  justify-content: space-between;
}

.sub-total p {
  font-size: 14px;
}

.organization-1 p {
  background-color: #F7DBB4;
  border-radius: 100%;
  padding:3px 10px 3px 10px;
  margin: 0;
}

.organization-2 p {
  background-color: #C7BAE7;
  border-radius: 100%;
  padding:3px 10px 3px 10px;
  margin: 0;
  border: 1px solid #1A66B8;
}

.mobile-main-container{
  display: none;
}

.like{ 
  align-items: center;
}

.time {
  text-align: center;
  padding: 5.79263px;
    background: #E8F0F8;
    border-radius: 5.79263px;
}

.time p {
  margin: 0;
}


.card{
  background: #FFFFFF;
box-shadow: 0px 2.89631px 2.89631px rgba(152, 152, 152, 0.15);
border-radius: 11.5853px;
}

.Evaluation{
  border: 0.724075px solid #E8F0F8;
border-radius: 11.5852px;
padding: 15px;
}


.profile-info{
  cursor: pointer;
}

@media only screen and (max-width: 400px){

.mobile-main-container{
  display: block;
}

.main{
  display: none;
}

.job-profile{
  max-width: 315px;
  left: 15%;
}

.info{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

}


.mobile-main-container 
{
  
  width: 375px;
  margin: auto;
  overflow: hidden;
}

.mobile-main-container p{
  margin: 0;
}

p{
  font-family: 'Inter';
  font-style: normal;
}

.mobile-header-container {
  display: flex;
  gap: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
  gap: 5px;
  height:  72px;
  border-bottom: 1px solid #F2F4F7;
box-shadow: 0px 4px 4px rgba(100, 100, 100, 0.15);

}

.mobile-header-container img {
  height: 16.68px;
  margin-left: 15px;
}

.mobile-header-container p {
  font-weight: 700;
  font-size: 19.2px;

}

.mobile-sub-header p{
  font-size: 18px;
}

.mobile-content{
  margin-top: 3px;
background: linear-gradient(90deg, rgb(223, 250, 255) -25%, rgb(255, 240, 246,1) 25%, rgb(223, 250, 255) 170%);

}

.mobile-cart{
  border: 1px solid #F5F7F9;
border-radius: 6px;
  margin: auto;
  width:343px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.mobile-image{
  gap: 10px;

}

.mobile-image img{
  height: 47px;
}

.mobile-image p {
  font-size: 14px;

}

.mobile-cart-info{
margin-top: 20px;
margin-left: 12px;
justify-content: space-evenly;;
}

.mobile-payment{
  display: flex;
  height: 64px;
  gap: 16px;
}

.organization1 p {
  background-color: #F7DBB4;
  border-radius: 100%;
  padding:3px 10px 3px 10px;
  margin: 0;
}

.organization2 p {
  background-color: #C7BAE7;
  border-radius: 100%;
  padding:3px 10px 3px 10px;
  margin: 0;
  border: 1px solid #1A66B8;
}


.jon-profile{
  width: 315px;
}

.mobile-profile-container{
  width: 315px;
  margin: auto;

}

.mobile-card{
  background: #FFFFFF;
box-shadow: 0px 3.39255px 3.39255px rgba(152, 152, 152, 0.15);
border-radius: 13.5702px;
width: 290px;
margin: auto;
}

.mobile-evaluation{
  border: 0.848137px solid #E8F0F8;
  border-radius: 13.5702px;
width: 290px;
margin: auto;
padding: 10px;
}

.work-exp{
  display: flex;
  align-items: center;
}

.work-exp img{
  /* height: 10px; */
  background-color: #E8F0F8;;
    padding: 10px;
    border-radius: 30.8169px;
    margin-top: -12px;
}



